# build output
dist/
.output/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.env.*

# Astro cache
.astro/

# IDE settings 
.vscode/
.idea/
.idx/

# macOS-specific files
.DS_Store

# TypeScript declarations
icon.d.ts
*.cache

README_ch.md